body {
    background-color: #40a814;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    margin-left: 200px;
    margin-right: 200px;
}

h1 {
    font-size: 40px;
    font-family: 'Luckiest Guy', cursive;
    color: #f4ebde;
    text-align: center;
}

h3 {
    font-size: 30px;
    font-family: 'Luckiest Guy', cursive;
    color: #f7b967;
    text-align: center;
}

.caption {
    color: white;
    font-size: 10px;
    text-align: center;
}

a{
    color: #774707;
} 

img {
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallery{
    height: 20%;
    width: 20%;
}
#photos {
    display: flex;
}

#galleryCaptions{
    display:flex;
    justify-content: space-around;
}

#para1{
    color: #f4cc97;
}

#para2{
    color: #f9e1c0;
}

#para3{
    color: #f4ebde;
}
